.header {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.section_encrypt {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border: 2px solid var(--bs-primary);
  border-radius: 4px;
}

.encrypt_result {
  display: none;
  margin-top: 0.5rem;
}

.section_decrypt {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border: 2px solid var(--bs-primary);
  border-radius: 4px;
}

.decrypt_result {
  display: none;
  margin-top: 0.5rem;
}